.noselect, .mpc-b, .controls {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.controls{
    height: 30px;
    float: left;
    line-height: 30px;
    font-family: sans-serif;
    text-align: center;
    margin: 5px;
    color: #fff;
    background-color: #888;
    font-size: 12px;
    padding: 2 10 2 10;
    cursor: default;
}

.desc{
    height: 34px;
    line-height: 34px;
    float: left;
    margin: 5 2 5 20;
    font-family: sans-serif;
    color: #777;
}

#bpm{
    height: 34px;
    margin: 5px;
    
}

.mpc-b:first-of-type{
    clear: both;
}

.mpc-b{
    width:  80px;
    height: 80px;
    background-color: #bbb;
    cursor: pointer;
    float: left;
    margin: 5px;
    line-height: 80px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

.mpc-b:hover{
    background-color: #ccc;
}

.b-name{
    clear: both;
    float: left;
    color: #555;
    font-family: sans-serif;
    width: 70px;
    line-height: 26px;
}

.b,.n{
    width: 20px;
    height: 20px;
    background-color: #ccc;
    float: left;
    margin: 3px;
    
}

.b-active{
    background-color: #777;
}

#notes{
    float: left;
    margin-left: 150px;
}