doctype html
html
    head
        //statisch
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Connect Client
        //link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/startHost.css')
        // Bootstrap
        link(href='css/bootstrap1.min.css', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
        script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
        // load order: device - startHost - main
        script(type='text/javascript', src='./js/deviceTestByron.js')
        script(src='js/startHost1.js')
        script(type='text/javascript', src='./js/mainTestByron.js')
        script(src='/socket.io/socket.io.js')
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')

        script(src='js/bootstrap1.min.js')

    body(onload='startHost()')
            header 
                .logo 
                .playbutton 
                #server_nr.server_nr server_nr
                br
            table(id="userListHost", border="1", cellpadding="2") 
                tbody
            .testHost
                h2 HostR
                div 
                    #counter  0
                    #quarters 0
                    #start.controls Start
                    #stop.controls Stop
                    .desc Tempo
                    input#bpm(type='number', min='0', max='300', value='120')
                    #intf
                    #steps
                    #notes
                    #addUserHost addU
                    #deleteUserHost deleteI_1
                