html,body {
    height: 100%;
    width: 100%;
   /* overflow: hidden;
    position: relative;*/
}
#connect {
    width: 100%;
    text-align: center;
}
#id {
    width: 100%;
}

#connectSection {
    height:10%;
}
#inputSection {
    height:80%;
    padding-bottom: 10%;
}
.block {
    display: inline-block;
    width: calc(100% - 10px);
    height: 100%;
    margin: 5px;
    background: white;
    border-style: double;
    float: right;
    padding-bottom: 25%;
    padding-top: 25%;
    text-align: center;
}

#bottom {
    height: 30%;
    display: none;
    position:absolute;
    top: calc(80% - 10px)

}